node_modules
package-lock.json

# ignore all of whosonfirst/dictionaries
resources/whosonfirst/dictionaries/*/*.txt

# whitelist certain files
!resources/whosonfirst/dictionaries/country/wof:country.txt
!resources/whosonfirst/dictionaries/country/wof:country_alpha3.txt
!resources/whosonfirst/dictionaries/country/name:eng_x_preferred.txt
!resources/whosonfirst/dictionaries/dependency/wof:shortcode.txt
!resources/whosonfirst/dictionaries/dependency/name:eng_x_preferred.txt
!resources/whosonfirst/dictionaries/region/wof:shortcode.txt
!resources/whosonfirst/dictionaries/region/name:eng_x_preferred.txt
!resources/whosonfirst/dictionaries/region/abrv:eng_x_preferred.txt
!resources/whosonfirst/dictionaries/locality/name:eng_x_preferred.txt
!resources/whosonfirst/dictionaries/locality/name:fra_x_preferred.txt

# ignore all custom dictionaries
resources/custom/dictionaries

# ignore any openaddresses test cases
test/oa